/*
NOTE BEFORE ADDING MEDIA QUERY, ADD THIS TAG IN HEAD:
<meta name= "viewport" content="width=device-width, initial-scale=1.0">
*/
@media  (min-width:320px) and (max-width:425px){
  #navName{
left:-161px;
    
    }
    #rsHeader{    
 width: 232px;
    height: 329px;
    position: relative;
        left: 704px;
    top: -128px;
    border-radius: 50%;;
    }
    .mainHead {
    top: 154px;
    left: 77px;
}
    #aboutMe{
    position: relative;
    top: 191px;
    left: 268px;
    
    }
    .hr {
    border: 3px solid white;
    position: relative;
    left: 285px;
    top: 190px;
}
  

.vertical {
    height: 400px;
    width: 4px;
    background-color: white;
    opacity: 0.5;
    position: relative;
    bottom: -170px;
    left: 330px;
    margin-right: 100px;
}  
    .hr1{

    bottom: 13px;
    
    }
    .hr2{

    bottom: 180px;
    }
   .hr3 {
    opacity: 0.5;
    border: 2.5px solid white;
    position: relative;
    left: 334px;
    bottom: -110px;
    width: 356px;
}
    .i1{
top: -267px;
    
    }
    .i2{
top: -258px;
    
    }
    .i3{
top:-243px;
    
    }
    p{
top:-240px;
    }
    
  .card {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    -backdrop-filter: blur( 12.5px );
    -webkit--backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 300px;
    position: relative;
    left: 227px;
    bottom: 66px;
    height: 400px;
    width: 593px;
}
    .contactImg{

    left: 226px;
    
    } 
    .button-29{
left: 173px;
    bottom: -41px;
    
    
    }


div#aboutSec {
    position: relative;
    left: -70px;
}
    
}

 
