

body{
    /*background-color: #ECF0F3;*/
    height: 100%;
    display: table;

    margin: 0;
    padding:0;
/*
    
*/


/*
    background-image: linear-gradient(
        45deg,
        hsl(240deg 100% 20%) 0%,
        hsl(257deg 100% 23%) 21%,
        hsl(275deg 100% 27%) 63%,
        hsl(292deg 100% 30%) 87%,
        hsl(309deg 100% 33%) 94%,
        hsl(327deg 100% 37%) 98%,
        hsl(344deg 100% 40%) 100%,
        hsl(1deg 100% 43%) 100%,
        hsl(19deg 100% 47%) 100%,
        hsl(36deg 100% 50%) 100%
*/

/*here*/


background: radial-gradient(100% 225% at 100% 0%, #FAFF00 0%, #000000 100%), linear-gradient(235deg, #DB00FF 0%, #000000 100%), linear-gradient(45deg, #241E92 0%, #241E92 40%, #5432D3 40%, #5432D3 50%, #7B6CF6 50%, #7B6CF6 70%, #E5A5FF 70%, #E5A5FF 100%), linear-gradient(180deg, #01024E 0%, #01024E 43%, #543864 43%, #543864 62%, #8B4367 62%, #8B4367 80%, #FF6464 80%, #FF6464 100%);
background-blend-mode: overlay, hard-light, overlay, normal;
background-repeat: no-repeat;
    background-attachment: fixed;

    ); 
/*
background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
background-blend-mode: soft-light, screen, darken, normal;
*/

}
.mainHead{
    color: white;
    position: relative;
    top: 208px;
    left: 35px;
    font-family: 'Montserrat';
}
#name{
    /*color: #F5F5F5;*/
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;

}

.hide{
    visibility: hidden;
}
font{
    color: white;
    font-family: 'Montserrat';
}
li{
    color:white;
}
.bg-black{
    width: 100%;

    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}
.navbar-brand{
    padding: 0 25px;

}

.gation{
    background-color: black;

}

#element{
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
}

.navbar-brand:hover{

    font-size: 1.4rem;

}
#navName{
    color: black;
    font-size: 25px;
    position:relative;
    right: 455px;
}

img{
    width:300px;
    height: 450px;
    position: relative;
    left: 900px;
    top: -80px;
    border-radius:50%;
}

.hr{

 
    border: 3px solid white;
    position: relative;
    left: 250px;

}
h2{
    color: white;
    position: relative;
    font-family: 'Montserrat';
    text-align:center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.vertical{
    height: 400px;
    width: 4px;
    background-color: white;
opacity:0.5;
    position:relative;
    bottom:19px;
    left: 330px;
    margin-right: 100px;

}
.hr1{
    opacity: 0.5;
    border: 2.5px solid white;
    position: relative;
    left: 334px;
    bottom: 318px;
    width: 356px;

}
.hr2{
    opacity: 0.5;
    border: 2.5px solid white;
    position: relative;
    left: 334px;
    bottom: 200px;
    width: 356px;

}
.hr3{
    opacity: 0.5;
    border: 2.5px solid white;
    position: relative;
    left: 334px;
    bottom: 79px;
    width: 356px;

}
.i1{
width: 103px;
    height: 94px;

    position: relative;
top: -428px;
    left: 684px;
}
.i2{
width: 103px;
    height: 94px;

    position: relative;
       top: -430px;
    left: 683px;

}
.i3{
width: 103px;
    height: 94px;

    position: relative;
   top: -431px;
    left: 685px;

}
.i2:hover{

}
p{
color: white;
font-size: 20px;
position: relative;
    top: -426px;
    left: 659px;

   


}
.deco{
display:inline-block;

}
.firstHr{
 opacity: 1;
    border: 2.5px solid white;
    position: relative;
    left: 250px;
width:50%;

}
.card{ background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 15.5px );
-webkit-backdrop-filter: blur( 15.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
height: 300px;
position: relative;
left: 265px;
bottom: 285px;
height:400px;
}

#contactMe{
  color:white;
text-align: center;  
font-family: 'Montserrat';
text-emphasis: bold; 
}
#aboutMe{
  color:white;
text-align: center;  
font-family: 'kalam';
text-emphasis: bold;
}











.contactImg{
    width: 152px;
    height: 147px;
    align-items: center;
    position: relative;
    left: 272px;
    top: 7px;



}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
width: 268px;
    position: relative;
    left: 212px;
    bottom: -53px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


#linkedinBtn{
color: white;
text-decoration: none;
  font-family: sans-serif;  

}

.k{
margin-top: 20px;
    background-image: radial-gradient(100% 100% at 100% 0, #4ebf57 0, #067017 100%);
 box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;

}
   button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
        top:50px;
left: 50px;

}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
}
.hoja{

color: white;
text-decoration: none;
  font-family: sans-serif; 
}

























